extends layout

block content
  h1 登録する
  form(method="POST" action="/signup")
    | 名前：
    input(type="text" name="name") 
    | メールアドレス：
    input(type="text" name="email") 
    button(type="submit") 登録

  
