extends layout

block content
  .form-content
    form(method="POST" action="/signin")
      .mb-3
        label(for="nameForm").form-label 名前：
        input(type="text" name="name")#nameForm.form-control
      .mb-3
        label(for="emailForm").form-label メールアドレス：
        input(type="text" name="email")#emailForm.form-control 
      button(type="submit") ログイン

  
